  #contents {
    position: absolute;
    margin-top: 200px;
    left: 20%;
    top: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }

  #head img {
    height: 65px;
    width: 50px;
  }

  #picture img {
    height: 200px;
    width: 400px;
  }

  #comment img {
    height: 30px;
    width: 30px;
  }