<% include TopMenu.ejs %>
<div id="contents">
        <div id="head">
          <img src="img/profile2.jpg">
          <div id="user_name"><strong>shinjong kim</strong></div>
          <div id="major">pianist</div>
        </div>
        <!--나중에 헤더를 눌렀을 때 이 사람의 타임라인으로 가게끔 만들기-->
        <div id="picture">
          <img src="img/Rach_score">
        </div>
        <a>18마디 오른손 파트는 어떤 손가락 번호를 쓰는게 좋을까요?</a>
        <!--a태그부분에 유저가 질문한 textarea데이터를 넣게 만들기-->
        <br><br>
        <div id="comment">
          <img src="img/heart.png"></a>
          <img src="img/balloon.png"></a>
        </div>
</body>
</html>