<% include TopMenu.ejs%>
<div id="Profile_Head">
        <header>
          <img src="img/profile2.jpg">
          <div id="user_name"><strong>shinjong kim</strong></div>
          <div id="major">pianist</div>
        </header>
      </div>
</body>
</html>