<!DOCTYPE html>
<% include TopMenu.ejs%>
<div class="top">
        <form>
            <select name="composer">
                <option value="0" select> 작곡가</option>
                <option value="1"> 바흐</option>
                <option value="2"> 모차르트</option>
                <option value="3"> 베토벤</option>
                <option value="4"> 하이든</option>
                <option value="5"> 슈베르트</option>
                <option value="6"> 브람스</option>
                <option value="7"> 리스트</option>
                <option value="8"> 쇼팽</option>
                <option value="9"> 라흐마니노프</option>
                <option value="10"> 프로코피예프</option>
                <option value="11"> 드비쉬</option>
                <option value="12"> 라벨</option>
            </select>
            <br>
            곡명 : <input type="text" placeholder="예)소나타1번">
        </form>
        <form action="http://localhost/upload.php" method="post" enctype="multipart/form-data">
            <input type="file" name="profile">
            <input type="submit">
        </form>
        <form name="action" method="post" Action="">
            <p><textarea cols="50" rows="10" placeholder="예)

18마디 오른손 파트는 어떤 손가락 번호를 쓰는게 좋을까요?"></textarea></p>
            <p><input type="submit" value="질문등록"></p>
        </form>
        <!--submit을 누를 시 서버에 값이 저장되는것+게시되는것+홈 화면으로 이동-->
    </div>
</body>

</html>