<!DOCTYPE html>
<html lang="en" dir="ltr">
​
<head>
  <meta charset="utf-8">
  <title>홈</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/topMenu.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/contents.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/Head.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/Musiker.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/New.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/Profile.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/Query.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/Ranking.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/Search.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/Motive.css">
​
</head>
​
<body>
  <div class="topMenu">
    <ul>
      <li>
        <a id="menuLink" href="/" target="Musiker">
          <img src="img/logo.png">
        </a>
      </li>
      <li><a id="menuLink" href="Search.ejs">검색</a></li>
      <li><a id="menuLink" href="New.ejs">내소식</a></li>
      <li><a id="menuLink" href="Ranking.ejs">랭킹</a></li>
      <li><a id="menuLink" href="Profile.ejs">나</a></li>
      <li><a id="menuLink" href="Motive.ejs">동기</a></li>
      <li><a id="menuLink" href="Query.ejs">질문하기</a></li>
    </ul>
  </div>
